.date-label {
  margin-top: -3px;
}

:host {
  ::ng-deep .date-picker-button {
    width: 100%;

    .ant-picker {
      border: 1px solid #dfe1e6;
      border-radius: 3px;
      background-color: #fafbfc;
      transition: background 0.1s;
      cursor: pointer;
      height: 32px;

      &:hover {
        background-color: #ebecf0;
      }

      .ant-picker-input {
        input {
          cursor: pointer;
          font-weight: 500;
          color: #172b4d;

          &::placeholder {
            color: #172b4d;
            font-weight: 500;
          }
        }
      }
    }
  }
}
