<div class="p-6">
  <p class="text-xl font-semibold mb-4">Quản lý người dùng</p>
  <form [formGroup]="form" class="grid grid-cols-5 gap-x-8">
    <div class="mb-4">
      <p class="mb-2">ID</p>
      <input formControlName="id" nz-input type="number" placeholder="Id phòng ban" />
    </div>
    <div class="mb-4">
      <p class="mb-2">Họ và tên</p>
      <input formControlName="fullName" nz-input type="text" placeholder="Họ và tên" />
    </div>
    <div class="mb-4">
      <p class="mb-2">Email</p>
      <input formControlName="email" nz-input type="text" placeHolder="Email" />
    </div>
    <div class="mb-4">
      <p class="mb-2">Ngày sinh</p>
      <nz-date-picker formControlName="dob" nzPlaceHolder="Ngày sinh" class="w-full"></nz-date-picker>
    </div>
    <div class="mb-4">
      <p class="mb-2">Giới tính</p>
      <nz-select formControlName="sex" nzPlaceHolder="Chọn giới tính" class="w-full">
        <nz-option *ngFor="let item of genders" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
      </nz-select>
    </div>
    <div class="mb-4">
      <p class="mb-2">Ngày tạo</p>
      <nz-date-picker formControlName="createdAt" nzPlaceHolder="Ngày tạo" class="w-full"></nz-date-picker>
    </div>
    <div class="flex items-center mt-[10px]">
      <button (click)="cancel()" nz-button class="mr-4">Hủy</button>
      <button (click)="search()" nz-button nzType="primary">Tìm kiếm</button>
    </div>
  </form>
  <div class="float-right mb-6">
    <button (click)="exportExcel()" class="mr-4" nz-button>Xuất excel</button>
    <button (click)="openEditModal()" nz-button>Thêm mới người dùng</button>
  </div>
  <app-sort-table [colTitle]="listOfColumn" [loaded]="true" [data]="listOfData" [total]="totalCount"
    [pageSize]="form.get('pageSize')?.value!" [pageIndex]="form.get('page')?.value!"
    (pageIndexChange)="changePage($event)" (pageSizeChange)="changePageSize($event)">
    <ng-template #rows let-row let-index="index">
      <td class="truncate">{{ row.id }}</td>
      <td class="truncate">{{ row.username }}</td>
      <td class="truncate">{{ row.name }}</td>
      <td class="truncate">{{ row.email }}</td>
      <td class="truncate">{{ row.dob | date:'yyyy-MM-dd' }}</td>
      <td class="truncate">{{ getNameByCode(genders, row.sex) }}</td>
      <td class="truncate">{{ row.createdAt | date:'yyyy-MM-dd' }}</td>
      <td class="truncate">{{ row.updatedAt | date:'yyyy-MM-dd' }}</td>
      <td class="flex items-center">
        <span (click)="openEditModal(row.id)" nz-icon nzType="edit" nzTheme="outline"
          class="text-lg mr-2 cursor-pointer hover:text-blue-500"></span>
        <i (click)="showConfirmResetPassword(row)"
          class="fa-solid fa-wrench text-base mr-2 cursor-pointer hover:text-blue-500"></i>
        <a nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn xóa người dùng này?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteUser(row.id)">
          <i class="fa-solid fa-trash text-base mr-2 cursor-pointer hover:text-red-500"></i>
        </a>
      </td>
    </ng-template>
  </app-sort-table>
</div>
