<div
  *ngIf="issue; else loaderTmpl"
  class="w-full h-full bg-white rounded-sm border border-borderLightest p-4"
  [class.pl-4]="isShowCloseButton"
>
  <div
    class="flex items-center -mx-4 px-4 pt-3 pb-3 text-textDarkest bg-backgroundLightest border-b border-borderLightest rounded-t-sm"
  >
    <issue-type [issue]="issue" [readOnly]="isReadOnly"></issue-type>
    <div class="flex-auto"></div>
    <!-- <a target="_blank" href="https://github.com/tungle/jira-clone-angular/issues/new">
      <j-button icon="feedback" className="btn-empty">
        Give Feedback
      </j-button>
    </a> -->
    <div class="flex items-center gap-1">
      <j-button
        *ngIf="!isReadOnly"
        icon="trash"
        [className]="'btn-empty'"
        (click)="openDeleteIssueModal()"
      >
      </j-button>
      <j-button
        *ngIf="isShowCloseButton"
        icon="times"
        [iconSize]="24"
        (click)="closeModal()"
        [className]="'btn-empty'"
      >
      </j-button>
    </div>
  </div>
  <div class="flex w-full flex-col lg:flex-row gap-8 pt-6 pb-6">
    <div class="w-full lg:w-4/6">
      <issue-title [issue]="issue" [readOnly]="isReadOnly"></issue-title>

      <div class="mt-6 mb-2 uppercase text-textMedium text-13 font-bold">Mô tả</div>
      <issue-description [issue]="issue" [readOnly]="isReadOnly"></issue-description>

      <!-- <div class="pt-4 pb-2 text-15 font-medium">Comments</div>
      <issue-comments [issue]="issue"></issue-comments> -->
    </div>
    <div class="w-full lg:w-2/6 lg:pl-8 lg:border-l lg:border-borderLightest pt-1">
      <issue-status [issue]="issue" [readOnly]="isReadOnly"></issue-status>
      <issue-reporter [issue]="issue" [users]="users$ | async" [readOnly]="isReadOnly">
      </issue-reporter>
      <issue-assignees [issue]="issue" [users]="users$ | async" [readOnly]="isReadOnly">
      </issue-assignees>
      <issue-priority [issue]="issue" [readOnly]="isReadOnly"></issue-priority>
      <issue-start-date [issue]="issue" [readOnly]="isReadOnly"></issue-start-date>
      <issue-end-date [issue]="issue" [readOnly]="isReadOnly"></issue-end-date>

      <div
        class="mt-6 rounded-sm bg-backgroundLightest border border-borderLightest p-3 leading-relaxed text-textMedium text-13"
      >
        <div>Ngày tạo - {{ issue.createdAt | date: 'medium' }}</div>
        <div>Ngày cập nhật - {{ issue.updatedAt | date: 'medium' }}</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loaderTmpl>
  <issue-loader></issue-loader>
</ng-template>
